{% extends "base.html" %}
{% block "title" %}Dashboard{% endblock %}
{% block "shorttitle" %}Dashboard{% endblock %}

{% block "body" %}

<div class="row">
    <div class="col-xs-12 col-sm-3 col-lg-2">
        <a href="/web/addSensor/" class="btn btn-primary btn-block" style="margin-bottom: 5px;">
            <span class="glyphicon glyphicon-plus" style="margin-right: 5px;" aria-hidden="true"></span>
            Add Sensor
        </a>
    </div>
    <div class="col-xs-12 col-sm-3 col-lg-2">
        <button class="btn btn-primary btn-block" onclick="getSensors(renderSensors)">
            <span class="glyphicon glyphicon-refresh" style="margin-right: 5px;"></span>
            Refresh
        </button>
    </div>
</div>

<div>
    <h3>Sensors</h3>

        <div id="notFound" class="alert alert-info">

    </div>
    <div id="sensorList"></div>
</div>

{% endblock %}

{% block "onPageReady" %}
    getSensors(renderSensors);
{% endblock %}