{% include "head.html" %}

<body xmlns="http://www.w3.org/1999/html">

<div class="background-image"></div>

<div class="login-body">
<span class="h1" style="font-weight: 900;">DistributedSensor</span>
<span class="h1" style="font-weight: 900; margin-bottom: 20px;">- Login</span><br><br>

{% if "failed" in request.GET %}
    <div class="alert alert-danger" style="text-align: center;">The login data you entered is invalid.<br>Try it again!</div>
{% endif %}



<form action="/web/login" method="POST" class="form-inline">
    <input type="text" name="username" placeholder="Username" class="form-control" autofocus>
    <input type="password" placeholder="Password" name="password" class="form-control">
    {% csrf_token %}
    <input type="submit" value=".: Login :." class="btn btn-info form-control">
</form>


</div>

</body>
</html>