{% extends "base.html" %}
{% block "title" %}{{ sensor.name }}{% endblock %}
{% block "shorttitle" %}<em>{{ sensor.name }}</em>{% endblock %}

{% block "body" %}

<style type="text/css">
    div.sensorping {
        padding: 10px;
        border: 1px solid #000;
        border-radius: 6px;
    }
</style>

<div class="">
    <div class="row">
        <div class="col-xs-12 col-md-6 panel panel-default" style="padding: 12px; margin-bottom: 10px;">
            <div class="row">
                <div class="col-xs-12" style="margin-bottom: 10px;">
                    show only: <input type="text" id="sensorpings_limit" value="50" style="width: 60px;"> SensorPings<button class="btn btn-success" style="width: 60px; margin-left: 20px;" onclick="updateSensorPingLimit()">Go</button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    use a custom timestamp format: <input type="text" id="timestamp_format" value="YYYY-MM-DD HH:mm" style="width: 300px;"> <button class="btn btn-success" style="width: 60px; margin-left: 20px;" onclick="updateTimestampFormat()">Go</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-md-4 pull-left" >
        <h3>Sensor pings</h3>
        <div id="sensorPingsList"></div>
        <div id="notFound" class="alert alert-info">
        </div>
    </div>
    <div class="col-xs-12 col-md-8 pull-right">
        <h3>Number of SensorPings</h3>
        <canvas id="sensorPingChart"></canvas>
    </div>
</div>

<h3>Data fields</h3>
<div class="row">
    <div id="sensorPingDataCharts" class="col-xs-12"></div>
</div>

{% endblock %}

{% block "onPageReady" %}
    getSensorPings({{ sensor_id }}, renderSensorPings);
{% endblock %}