{% load i18n %}

{% include "head.html" %}

<body>


<div class="body">
    <div style="margin-bottom: 50px;">
        <div class="row">
            <div class="col-xs-8 col-md-10">
                <div class="h1 pull-left">
                    <a href="{% url 'dashboard' %}"><span class="glyphicon glyphicon-home"></span> /</a>
                    {% block "shorttitle" %}{% endblock %}
                </div>
            </div>
            <div class="col-xs-4 col-md-2">
                <a href="{% url "logout" %}" class="btn btn-danger pull-right"> Logout</a>
                <div class="h4 pull-right hidden-xs" style="margin-right: 10px;">DistributedSensor</div>
            </div>
        </div>
    </div>

    {% block "body" %}

    {% endblock %}
</div>

<script type="text/javascript">
    $(document).ready(function() {
        {% block "onPageReady" %}

        {% endblock %}
    });
</script>

</body>
</html>
