<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block "title" %}{% endblock %} - DistributedSensor</title>
    <script src="/static/web/js/jquery-3.2.1.min.js" type="text/javascript"></script>
    <link href="/static/web/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">

    <script src="/static/web/bootstrap-3.3.7-dist/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/static/web/js/Chart.min.js"></script>
    <script src="/static/web/js/moment-with-locales.min.js"></script>


    {% if request.user.is_authenticated %}
        <script src="/static/web/js/api.js"></script>
    {% endif %}

    <style>
        .background-image{
            background: url('/static/web/background.jpg') no-repeat center center fixed;
            background-size: cover;
            filter: opacity(80%);
            width: 100vw;
            height: 100vh;
            z-index: -1;
        }

        .login-body{
            color: #FFF;

            z-index: 1;
            position: absolute;
            top: 10px;
            left: 0px;
            margin: 10px;
        }

        .body{
            margin: 15px;
        }
    </style>
</head>

